<div class="flex flex-col w-full gap-10">
    <div class="bg-sky-900 text-white py-4 text-center rounded-sm">
        Resetear contraseña
    </div>
    <div class="px-5 pb-5">
        <form method="POST" [formGroup]="resetForm">
            <div>
                <label for="userId" class="block text-sm font-medium text-gray-700"> ID de usuario </label>
                <div class="mt-1">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput id="userId" name="userId"
                            class="border focus:ring-sky-500 focus:border-sky-500" type="number"
                            formControlName="userId">
                        <mat-error *ngIf="resetForm.controls['userId'].hasError('required')">
                            El ID de usuario es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-700"> Contraseña </label>
                <div class="mt-1">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput id="password" name="password" type="password"
                            autocomplete="current-password" formControlName="password"
                            class="border focus:ring-sky-500 focus:border-sky-500">
                        <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                            La contraseña es <strong>requerida</strong>
                        </mat-error>
                        <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')">
                            Contraseña <strong>invalida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-700"> Repetir contraseña </label>
                <div class="mt-1">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput id="passwordConfirm" name="passwordConfirm" type="password"
                            autocomplete="current-password" formControlName="passwordConfirm"
                            class="border focus:ring-sky-500 focus:border-sky-500">
                        <mat-error *ngIf="resetForm.controls['passwordConfirm'].hasError('required')">
                            Confirmar la contraseña es <strong>requerida</strong>
                        </mat-error>
                        <mat-error *ngIf="resetForm.controls['passwordConfirm'].hasError('passwordMatch')">
                           Las contraseñas <strong>no coinciden</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <button mat-raised-button color="primary" class="w-full bg-sky-700">Resetear</button>
    </div>
</div>