<div class="container">

<div class="title-container">
  <h1 class="title">{{title}}</h1>
</div>

<section class="table-container mat-elevation-z8" tabindex="0">

<table mat-table [dataSource]="dataSource" matSort
(matSortChange)="eventSortChange($event)"
class="mat-elevation-z8">
  

  <!-- Operation Column -->
  <ng-container matColumnDef="operacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by operacion"> Operacion</th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.operacion}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tipo"> Tipo </th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.tipo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by estado"> Estado </th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.estado}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fecha"> Fecha </th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hora"> Hora </th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.hora}} </td>
  </ng-container>


  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Monto"> Monto </th>
    <td mat-cell *matCellDef="let operacion"> {{operacion.monto}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons 
aria-label="Seleccione la página de operaciones">
</mat-paginator>

</section>
</div>